{{#unless error}}

<div class="bg-light p-5 rounded mt-3">
  <h1>Register</h1>

  <form action="/update" method="POST">
    <div class="row">
      <div class="col-md-4">
        <label for="name" class="form-label mt-2">Name:</label>
        <input type="hidden"  value="{{id}}" name="id">
        <input value="{{name}}" type="text" class="form-control" name="name" id="name" placeholder="name..." required />
      </div>

      <div class="col-md-4">
        <label for="email" class="form-label mt-2">Email:</label>
        <input value="{{email}}" type="email" class="form-control" name="email" id="email" placeholder="email@example.com" required />
      </div>

      <div class="col-md-4 mt-4">
        <button class="btn btn-warning mt-3 w-100 p-2">Save</button>
      </div>
    </div>
  </form>
</div>
{{else}}
  <div class="card bg-danger text-white">
    <div class="card-body">
      <h2>Erro: {{messageError}}</h2>
    </div>
  </div>
{{/unless}}